
pandas
joblib
flask
openai-whisper
jiwer
numpy
torch
ffmpeg-python
flask-cors
scikit-learn
fastapi
Flask
easyocr
Pillow
xhtml2pdf
torch
torchvision
numpy
uvicorn
fastapi[all]
click==8.3.0
colorama==0.4.6
h11==0.16.0
uvicorn==0.37.0
whisper
pyphen