:root {
  /* Color Palette */
  --color-primary: #1193d4;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101c22;

  /* Font Family */
  --font-display: 'Lexend', sans-serif;

  /* Border Radius */
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}


body.dark {
  background-color: var(--color-background-dark);
  color: #f6f7f8;
}

/* Example usage */
.btn-primary {
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--radius-lg);
  padding: 0.5rem 1rem;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.btn-primary:hover {
  opacity: 0.9;
}
@keyframes popUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.pop-up-text {
  animation: popUp 1s ease-out forwards;
}
